


/* Fixed sidenav, full height */
.sidenav {
    height: 100%;
    width: 180px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:white;
    overflow-x: hidden;
    padding-top: 20px;
    border-right: solid 1px gray;
  }
  
  /* Style the sidenav links and the dropdown button */
  .sidenav a, .dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: block;
    border: none;
    /* background: none; */
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
  }
  
  /* On mouse-over */
  .sidenav a:hover, .dropdown-btn:hover {
    background-color: rgb(168, 141, 92);
  }
  
  /* Main content */
  .main {
    margin-left: 200px; /* Same as the width of the sidenav */
    font-size: 20px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }
  
  /* Add an active class to the active dropdown button */
  .active {
    background-color:gray;
    color: white;
  }
  
  /* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
  .dropdown-container {
    display: none;
    background-color: white;
    padding-left: 8px;
  }
  
  /* Optional: Style the caret down icon */
  #fa-caret-down {
    float: right;
    padding-right: 8px;
  }
  .link1{
    display:flex;
    /* justify-content: space-around; */
  }
  .link2{

  }
  .checkbox{
    width: 50px;
    height: 5px;
    margin-top: 10px;
    margin-right: 40px;
    border-radius: 10px;
  }
  .apply{
    margin: 50px 5px;
    display: flex;
  }
  .apply button{
    width: 80px;
    height: 60px;
    margin-left: 10px;
    border-radius: 10px;
    margin-bottom: 60px;
    border: none;
    background-color: rgb(115, 113, 163);
  }
  .apply-icon{
    width: 30px;
    height: 25px;
  }

/* main start */
.logo{
  width: 154px;
  margin-bottom: 11px;
  padding-top: 0px;
  padding-left: 10px;
}
.top-box{
    margin-bottom: 20px;
}

.topbar{
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px gray;
    margin: 0px 1px;
    padding: 20px 20px;
}    
.topbar-col-right,.topbar-col-left{
    /* flex-basis: 50%; */
}
.topbar-col-left{
    margin-left: 170px;
    display: flex;
}


/* Style the search field */
.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: none;
    float: left;
    background:rgb(215, 188, 188);
    border-radius: 10px 0px 0px 10px;
    background: linear-gradient(0,0,0.8) transparent url(/images/transparent\ search\ icon\ image.png) ;
    background-size: contain;
    background-repeat: no-repeat;
  
    
  }
  .example input:hover{
    background-color: aliceblue;
  }
    
    /* Style the submit button */
    .example button {
    float: left;
    width: 60px;
    padding: 10px;
    height: 40px;
    background:rgb(215, 188, 188);
    color:gray;
    border: none;
    cursor: pointer;
    border-radius: 0px 10px 10px 0px;
    }
    
    form.example button:hover {
    background: #0b7dda;
    }
    
    /* Clear floats */
    form.example::after {
    content: "";
    clear: both;
    display: table;
    }

    .circle{
      border-radius: 50px;
      width: 70px;
      height: 40px;
      border: none;

    }
    .profile{
      width: 40px;
      border: solid 1px gray ;
      height: 39px;
      border-radius: 50px;
      background-color: transparent;
    }

    .top-btn{
      width: 90px;
      height: 40px;
      border: none;
      border-radius: 20px;
      background-color: rgb(235, 217, 217);
    }
    .top-btn:hover{
      background-color: gray;
     }
    .top-2{
      display: flex;
    }
   .top-2{
    margin: 10px;

   }
   .top-2 p{
    font-size: 20px;
    font-weight: 900;
    color: gray;
   }
   #top-2-icon{
    margin-left: 5px;
    font-size: 15px;
    padding: 25px 10px 10px 10px;
    color: #818181;
   }
   #top-2-iconz{
    margin-left: 5px;
    font-size: 30px;
    padding: 15px 10px 10px 10px;
    background-color: transparent;
   }


   .top3-row{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
   }
   .top3-col-left{
    font-size: 40px;
    font-weight: 600;
   }

   .top3-col-right{
    display: flex;
    color: black;
    padding-top: 30px;
    height: 8rem;

   }
   .sort-by{
    display: flex;
    background-color:rgb(235, 217, 217);
    border-radius: 30px;
    height: 60px;
    width: 240px;
    max-width:370px ;
   }
   .sort-by p{
    padding-left: 20px;
    /* margin: 15px 0  51x 0; */
   }
   .sort-by:hover{
    background-color: gray;
   }
  

   #top3-icon{
    padding-top: 20px;
   }
   .top4-row{
    display: flex;
    margin: 50px 0;
    }
    .top4-row button{
      width: 80px;
      padding: 10px 10px;
      margin-left: 5px;
      background-color: beige;
      border-radius: 10px;
      border: none;
    }
    .top4-row button:hover{
      background-color:gray ;
    }
    .catalog{
      max-width: 1440px;
      min-width: 800px;
      margin-left: 10px;
    }
    .cata1-row{
      display: flex;
      justify-content: space-evenly;
      max-width: 1080px;
      margin: 30px 0;
    }
    .card{
      flex-basis: 50%;
      max-width: 400px;
      padding: 10px;
      border-radius: 10px;
      border: solid 1px gray;
      margin: 20px 40px;
      /* background-color: aqua; */

    }
    
    .card-img{
      /* background-color: aqua; */
      position: relative;
      margin-right: 20px;

    }

    .card-img img{
      width: 100%;
      padding: 10px;
   
    }
    .card-float{
      display: flex;
      justify-content: space-between;


    }
    svg{
      width: 30px;
      height: 30px;
      position: absolute;
      right: 0.4px;
      top: 30px;
      color:rgb(189, 160, 160) ;

    }
    svg:hover{
      color: blue;
    }
    .btn-card{
      /* padding-left: 100px; */
      position: absolute;
      top: 30px;
      width: 50px;
      left: 10px;
    
    }
    .btn-card button{
      border: none;
      color: rgb(56, 137, 164);
      border-radius: 10px;
      background-color:rgb(247, 225, 225);

    }
    .svg{
      padding-right: 50px;
    }
    .card-text{
      font-size: 20px;
      font-weight: 600;
      max-width: 300px; 
      background-color:white;
      margin: auto;

    }
  #card-text-p{
    font-size: 14.8px;
  }
    .card-price{
      display: flex;
      justify-content:space-between ;
      justify-items:c ;
      flex-direction: row;
    }
    .card-price-text{
      display: block;
      font-size: 12px;
      font-weight: 900;
    }
    .card-price-text p{
      color: gray;
      /* padding-top: 10px; */
    }
    .card-price-text p,.card-price-text h2{
      margin: 0;
    }
    .card-price button{
      height: 50px;
      width: 50px;
      border-radius: 15px;
      background-color: rgb(115, 113, 163);
      border: none;
    }
    .btn{
      font-size: 30px;
    }
    .bottom-bar{
      margin: 100px 20px;
      text-align: center;
    }
    .bottom-bar button{
      height: 40px;
      width: 60px;
      border-radius: 20px;
      border:  0.4px gray;
      margin-left: 20px;
    }
    .bottom-bar button:hover{
      background-color: rgb(115, 113, 163);
    }
    .apply button:hover{
      background-color:  rgb(60, 60, 204);
    }



  
    @media only screen and (max-width:420px) and (min-width: 240px){
      .logo {
        width: 80px;
        margin-bottom: 10px;
        padding-top: 10px;
       }
      .example{
      display: flex;
      justify-content: space-between;
      max-width: 100px;
      margin: 20px 5px;
    }
    .example input {
      padding: 10px;
      font-size: 17px;
      border: none;
      float: left;
      height: 20px;
      background:red;
      border-radius: 10px 0px 0px 10px;
      width: 140px;
      margin-left: 30px;
      
    }
    .example input:hover{
      background-color: aliceblue;
    }
      
      /* Style the submit button */
      .example button {
      float: left;
      width: 60px;
      /* padding: 10px; */
      /* height: 40px; */
      background:rgb(215, 188, 188);
      color:gray;
      border: none;
      cursor: pointer;
      border-radius: 0px 10px 10px 0px;
      }
      .sidenav {
        height: 100%;
        width: 100px;
        /* position: fixed; */
        z-index: 1;
        top: 0;
        left: 0;
        background-color: white;
        overflow-x: hidden;
        padding-top: 20px;
        border-right: solid 1px gray;
    }
    #h2-text{
      font-size: 20px;
    }
    .main {
      margin-left: 60px; /* Same as the width of the sidenav */
      font-size: 10px; /* Increased text to enable scrolling */
      padding: 0px 10px;
    }
    .topbar{
      display:block;
      /* justify-content: space-between; */
      border-bottom: none;
      margin: 0px 1px;
      padding: 20px 20px;
  }    
  .topbar-col-left{
      /* flex-basis: 100%; */
  }
  .topbar-col-left{
      margin-left: 70px;
      display: flex;
  }
  .topbar-col-right{
    margin-left: 80px;
    display: flex;
}


.top-btn{
  width: 70px;
  height: 30px;
  border: none;
  border-radius: 10px;
  margin-right: 5px;
  margin-left: 5px;
  background-color: rgb(235, 217, 217);
}
.profile {
  width: 40px;
  border: solid 1px gray;
  height: 39px;
  ma
  border-radius: 50px;
  background-color: transparent;
}
.top-btn:hover{
  background-color: gray;
 }
.top-2{
  display: flex;
  margin: 10px;
  border-bottom: 0;

}

.top-2 p{
font-size: 9px;
font-weight: 900;
color: gray;
}
#top-2-icon{
/* margin-left: 5px; */
/* font-size: 15px; */
/* padding: 25px 10px 10px 10px; */
color: #818181;
}
#top-2-iconz{
margin-left: 5px;
font-size: 20px;
/* margin-bottom: 30px; */
padding-bottom: 80px;
/* padding: 15px 10px 10px 10px; */
background-color: transparent;
}
.sort-by{
  display: flex;
  background-color:rgb(235, 217, 217);
  border-radius: 30px;
  height: 50px;
  width: 120px;
  max-width:370px ;
 }
 .top3-row{
  display: flex;
  max-width: 300px;
  height: 30px;
 }
 .top3-col-left {
  font-size: 19px;
  margin-left: 30px;
  margin-bottom: 40px;
  
  /* padding-top: 100px; */
  /* font-weight: 600; */
}
.top3-col-right {
  font-size: 11px;
  padding-bottom: 40px;
}

.top3-col-left p {
  padding-bottom: 20px;
  margin-bottom: 80px;
}
.top3-col-left,.top3-col-right{
  margin-top: 0;
  padding: 0;

}
#top3-icon{
  padding-right: 30px;
  font-size: 50px;
  padding-top: 0;
}
.top-2{
margin: 0;
}
.top3{
  padding: 0;
}
.catalog {
  min-width: 270px;
  margin-left: 0px;
}
.cata1-row {
  display: block;
  /* justify-content: space-evenly; */
  max-width: 300px;
  margin: 30px 0;
}
.card{
  max-width: 550px;
  max-height: 480px;
  margin-right: 0;
}
.top4-row{
  margin: 30px;
}
.top4-row button {
  /* width: 80px; */
  padding: 10px 10px;
  margin-left: 5px;
  background-color: beige;
  border-radius: 10px;
  border: none;
}
.bottom-bar {
  max-width: 200px;
  text-align: center;
  margin-left: 40px;
}
.apply {
  margin: 50px 5px 5px;
  display: block;
}
.apply button{
  width: 60px;
}
    /* for tablet  */
  }
  @media only screen and (max-width: 900px) and (min-width: 500px){
     .logo {
        width: 80px;
        margin-bottom: 10px;
        padding-top: 10px;
       }
    .topbar{
      display: flex;
      justify-content: space-around;
      border-bottom: solid 1px gray;
      margin: 0px 1px;
      padding: 20px 20px;
    }    
      .topbar-col-right{
        display: flex;
    }

    .topbar-col-left{
        margin-left: 170px;
        display: flex;
        flex-basis: 100%;
      }

      .example input[type=text] {
        padding: 5px;
        font-size: 7px;
        border: none;
        background:rgb(215, 188, 188);
        border-radius: 10px 0px 0px 10px;
        width: 180px;
        height: 30px;
        
      }
      .example input:hover{
        background-color: aliceblue;
      }
        
        /* Style the submit button */
        .example button {
        float: left;
        width: 30px;
        padding: 10px;
        background:rgb(215, 188, 188);
        color:gray;
        border: none;
        cursor: pointer;
        border-radius: 0px 10px 10px 0px;
        }
        .catalog{
          min-width: 220px;
          margin-left: 10px;
        }
        .cata1-row{
          display: block;
          justify-content: space-between;
          max-width: 500px;
          margin: 30px 0;
        }
        .card{
          flex-basis: 100%;
          max-width: 1440px;
          padding: 10px;
          border-radius: 10px;
          border: solid 1px gray;
          margin: 20px 0px;
   
        }

  }